

<nav  class="navbar navbar-expand-lg Oppnavbar" id="FixedNav">

  <!-- <!  -- Navbar brand -->
  <a class="navbar-brand" href="#">Hostels</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="material-icons">menu</span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="#" >Home
          </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#">
            About-us
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink='profile' routerLinkActive="active" (click)="myFunc()" >
            My-Profile
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">
            Admin
        </a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline">
    
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <!-- <div *ngIf="login=='loginn'; else elseBlock"> -->
        <a id="Loginorsignup" routerLink="/login" routerLinkActive="active" type="button" class="btn btn-outline-dark mr-sm-2" style="font-family: system-ui;font-weight: bolder;border: none;margin-top: 5px;">login</a>
      <!-- </div>  -->
      <!-- <ng-template #elseBlock>
        <a id="Loginorsignup" routerLink="/login" routerLinkActive="active" type="button" class="btn btn-outline-dark mr-sm-2" style="font-family: system-ui;font-weight: bolder;border: none;margin-top: 5px;">{{login}}
        </a></ng-template> -->

        
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->



<!-- HOStel-1 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
   {{RateThis}}
  </div>
</div>



<!-- HOStel-2 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-3 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-4 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-5 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-6 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-7 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-8 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>



<!-- HOStel-9 -->
<div class="card text-center displayCard">
  <div class="card-header">
    {{Heading}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{Reviews}}</h5>
    <p class="card-text">{{Bodytext}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    {{RateThis}}
  </div>
</div>
<router-outlet></router-outlet>